.boton{
    border-radius: 20px; /*Da un borde redondeado*/
    text-align: center; /*Deja el texto interno centralizado*/
    height: 400px; /*altura*/
    width: 230px; /*ancho*/      
    display: flex; /*Organización del botón*/
    flex-direction: column; /*Los componentes esstarán apilados*/
    justify-content: center; /**/
    align-items: center; /**/
    gap: 30px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /**/
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); /**/
    text-decoration: none;
    cursor: pointer;
}
.boton:hover{
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
.boton:visited{
  color: inherit;
}
/*
.boton h3 {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton p {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/