@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 960px;
    width: 100%;
    height: auto;      
    border-radius: 16px;
    background-color: linear-gradient(145deg, #ffffff, #f0f8ff);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
    
}
.div_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'Roboto';
    font-weight: 100; 
    font-size: 40px;
    color: hsl(219, 95%, 16%);

}
.contenedor_botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    background-color: aquamarine;
    gap: 20px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    gap: 50 px;
}